<div class="text_container">
  <div id="title">Wanna Make a Deal?</div>
  <p id="host">
    There are three doors. Behind two doors there are BAD THINGS.<br>
    Behind one door is an AWESOME THING.<br>
    Choose a door...</p>
</div>

<div id="door_container">
  <div class="door">
    <%= link_to image_tag("blue_door.png"), "/deals_1"%>

      <%=  %>

  </div>

  <div class="door">
    <a href="/deals_2">
      <%= link_to image_tag("orange_door.png"), "deals_2"   %>
    </a>
  </div>
  <div class="door">
    <a href="/deals_3">
      <%= link_to image_tag("green_door.png"), "deals_3"   %>
    </a>
  </div>
</div>
